html,
body {
  scrollbar-color: #999a #000a;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 4px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
body::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999a;
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  /* Background */
  background: #000a;
}

:root {
  --primary: #198754;
  --secondary: #fff;
  --accent: #ffcb05;
  --font-secondary: "Cinzel";
  --font-primary: "Barlow Condensed";
  --font-main: "Work Sans";
  --green: rgb(89, 126, 32);
  --blue: rgb(1, 126, 167);
  --dark-blue: rgb(0, 39, 76);
  --grey: rgb(112, 112, 112);
  --red: rgb(202, 22, 57);
  --violet: rgb(90, 32, 73);
  --green-o: rgb(89, 126, 32, 0.9);
  --blue-o: rgb(1, 126, 167, 0.9);
  --dark-blue-o: rgb(0, 39, 76, 0.9);
  --grey-o: rgb(112, 112, 112, 0.9);
  --red-o: rgb(202, 22, 57, 0.9);
  --violet-o: rgb(90, 32, 73, 0.9);
}
